<?xml version="1.0"?>
<config>
    <modules>
        <Kasterweb_FlagProducts>
            <version>1.0.2</version>
        </Kasterweb_FlagProducts>
    </modules>
    <global>
        <helpers>
            <kasterweb_flagproducts>
                <class>Kasterweb_FlagProducts_Helper</class>
            </kasterweb_flagproducts>
        </helpers>
        <blocks>
            <kasterweb_flagproducts>
                <class>Kasterweb_FlagProducts_Block</class>
            </kasterweb_flagproducts>
        </blocks>
        <models>
            <kasterweb_flagproducts>
                <class>Kasterweb_FlagProducts_Model</class>
                <resourceModel>kasterweb_flagproducts_resource</resourceModel>
            </kasterweb_flagproducts>
            <kasterweb_flagproducts_resource>
                <class>Kasterweb_FlagProducts_Model_Resource</class>
                <entities>
                    <flags>
                        <table>kasterweb_flags</table>
                    </flags>
                </entities>
            </kasterweb_flagproducts_resource>
        </models>
        <resources>
            <kasterweb_flagproducts_setup>
                <setup>
                    <module>Kasterweb_FlagProducts</module>
                    <class>Kasterweb_FlagProducts_Model_Resource_Setup</class>
                </setup>
            </kasterweb_flagproducts_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <kasterweb_flagproducts before="Mage_Adminhtml">Kasterweb_FlagProducts_Adminhtml</kasterweb_flagproducts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <kasterweb_flagproducts>
                    <file>kasterweb_flagproducts.xml</file>
                </kasterweb_flagproducts>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <kasterweb_flagproducts>
            <general>
                <file_log>kasterweb_flagproducts.log</file_log>
            </general>
        </kasterweb_flagproducts>
    </default>
</config> 